@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root{
	--primary-color: #A1CEFF;
	--darken-color: #004896;
}
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
body{
	font-family: Roboto, Arial;
}
a, a:visited, a:hover, a:active {
  color: inherit;
}